body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background: linear-gradient(to top,rgb(27, 27, 27),rgb(151, 238, 151)); */
    background-image: url("black-and-green-1920-x-1200-background-psa2cnwsi98qti86.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
        border: 2px solid lightgreen;
        padding:66px 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius:12px ;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.6);
}
.box h1{
    text-align: center;
    margin-top: 0px;
    transform: translateY(-25px);
    margin-bottom: -12px;
     color: white;
}
.btn{
    transform: translateY(12px);
    background-color: lightgreen;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    padding: 2px;
    height:30px;
    width: 293px;
}
.email input{
    border: 2px solid yellowgreen;
    border-radius: 12px;
    height:25px;
    width: 266px;
    padding: 0px 12px;
}
.otp input{
    border: 2px solid yellowgreen;
    border-radius: 12px;
    height:25px;
    width: 168px;
    padding: 0px 11px;
    margin-right:0px;
}
.email input::placeholder{
    padding: 0px 5px;
    
}
.otp input::placeholder{
    padding: 0px 5px;
}
.otp button{
    background-color: lightgreen;
    font-size: 14px;
    font-weight:500;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    height: 29px;
    position: relative;
    left:10px;
    width:88px;
    margin-left: 0px;
    margin-right: -7px;
}
.otp{
    display: none;
}
.continuebtn{
    display: none;
    background-color:lightgreen;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
    height:31px;
    width: 292px;
   position: relative;
   top:16px;
}
.otp input:hover{
    box-shadow: 2px 2px 2px black;
}
.otp button:hover{
    box-shadow: 2px 2px 2px black;
}
.continuebtn:hover{
    box-shadow: 2px 2px 2px black;
}
.btn:hover{
    box-shadow: 2px 2px 2px black;
}
.email input:hover{
    box-shadow: 2px 2px 2px black;
}
.continuebtn a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left:36%;
    top:2px;
}
.btn:active{
    background-color: red;
}
.otp button:active{
    background-color: red;
}
.continuebtn:active{
    background-color: red;
}
.otp i{
    position: relative;
    right:23px;
    top:6px;
    color: red;
    display: none;
    margin-left: 0px;
    margin-right: 0px;
}

